/*Created new class called .myFirstChartClass
 * 
 */

.myFirstChartClass {
	
	border: 5px solid red;
	font-family: Calibri;	
}
.col-md-4{
	background-color: white;
}
.col-md-1{
	background-color: white;
}
.col-md-8{
	background-color: red;
}
.col-md-6{
	background-color: red;
} /*
   * these unique properties modify the different-sized columns within my div rows
   */
