/*Created new class called .myFirstChartClass
 * 
 */

.myFirstChartClass {
	background-color:e1e1e1;
	border: 5px solid red;
	font-family: Calibri;	
}
.col-md-4{
	background-color: yellow;
}
.col-md-1{
	background-color: pink;
}
.col-md-8{
	background-color: red;
}
